/* .roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
} */

/* Structural CSS*/
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #2b283a;
  font-size: 16px;
}

header {
  background-color: #5f29a3;
  padding: 45px 0px;
}

section {
  padding: 45px 0;
}

.container {
  width: 620px;
  margin: 0 auto;
}

.bottomHalf {
  background-color: #5f29a3;
  color: whitesmoke;
}

.icontain {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 15px;
    overflow: hidden;
}

.icontain img {
    width: 8em;
    height: 16em;
    flex-grow: 1;
    border-radius: 4.6px;
}

footer {
  text-align: center;
}
/* Typography */
h1 {
  font-size: 36px;
  color: whitesmoke;
  margin: 0;
}

h2 {
  margin-top: 0;
}

h3 {
  font-size: 20px;
  color: #d0aaff;
  margin: 0;
}

/* Media */
.kicks {
  width: 100%;
}

/* Links */

a {
  color: #ef5839;
  text-decoration-style: dotted;
}

a:hover {
  color: #d4b44c;
}

a:active {
  color: #d4b44c;
}

/* 

.nftButton {
    background-color: darkorchid;
    border: 2px;
    border-radius: 5%;
    padding: 0.4em;
    text-decoration: none;
    color: white;
    font-weight: 400;
}

.nftButton:hover{
    background-color: white;
    color: purple;
    border: 2px;
}


.infoButton {
    background-color: plum;
    border: 2px;
    border-radius: 5%;
    padding: 0.4em;
    text-decoration: none;
    color: purple;
    font-weight: 400;
}

.infoButton:hover{
    background-color: purple;
    color: white;
    border: 2px;
}

.bottomHalf {
    background-color: purple;
    color: white;
    padding: 1em;
    margin: 1em;
}

.about {
    background-color:antiquewhite;
    color: orchid;
    text-decoration: none;
    font-weight: 400;
    border: 2px;
    border-radius: 5%;
    padding: 0.4em;
}

.contact{
    background-color: plum;
    text-decoration: none;
    color: white;
    font-weight: 400;
    border: 2px;
    border-radius: 5%;
    padding: 0.4em;
} */
