
/* .roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
} */



body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}


header {
    background-color: #5f29a3;
}

header h1{
    font-size: 3em;
    font-weight: 500;
    margin-bottom: 0;
    color: whitesmoke;
}

header h3{
    font-size: 1em;
    font-weight: 400;
    color: #d0aaff;
}

.topHalf{
    background-color: white;
    padding: 1em;
    margin: 1em;
}

.nftButton {
    background-color: darkorchid;
    border: 2px;
    border-radius: 5%;
    padding: 0.4em;
    text-decoration: none;
    color: white;
    font-weight: 400;
}

.nftButton:hover{
    background-color: white;
    color: purple;
    border: 2px;
}


.infoButton {
    background-color: plum;
    border: 2px;
    border-radius: 5%;
    padding: 0.4em;
    text-decoration: none;
    color: purple;
    font-weight: 400;
}

.infoButton:hover{
    background-color: purple;
    color: white;
    border: 2px;
}

.bottomHalf {
    background-color: purple;
    color: white;
    padding: 1em;
    margin: 1em;
}

.about {
    background-color:antiquewhite;
    color: orchid;
    text-decoration: none;
    font-weight: 400;
    border: 2px;
    border-radius: 5%;
    padding: 0.4em;
}

.contact{
    background-color: plum;
    text-decoration: none;
    color: white;
    font-weight: 400;
    border: 2px;
    border-radius: 5%;
    padding: 0.4em;
}